*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.logo{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 20%;
}
.logo img{
    width: 40%;
    border: solid 2px white;
    border-radius: 70%;
}
.nav-list{
    width: 70%;
   /* background-color: black;*/
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 30px;
}
.nav-list li a{
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.nav-list li a:hover{
   text-decoration: none; 
   color: grey;
}

.right-nav{
    width: 30%;
   /* background-color: blueviolet;*/
    text-align: right;
    padding: 0 23px;
    
}
#text{
    border-radius: 5px
}
#search{
    padding: 5px;
    font-size: 17px;
    border: solid 2px black;
    border-radius: 8px;
}
.background{
    background:rgba(0, 0, 0, 0.7) url("../img/bg.jpg") ;
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 50%;
    margin:auto;
    height: 70%;
}

.firstHalf{
width: 75%;
display: flex;
flex-direction: column;
justify-content: center;
}

.secondHalf{
width: 30%;
justify-content: center;
    align-items: center;
}

.secondHalf img{
    border: solid;
    border-radius: 150px;
    width: 60%;
    margin:auto;
    
}

.text-big{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-small{
    font-size: 18px;
    font-family: cursive
}

.btn{
    padding: 5px;
    margin: 8px 3px;
    background:none;
    border-radius: 8px;
    color: white;
    border:solid 2px white;
    cursor:pointer;
}

.btn-dark{
    color:black;
    border:2px solid black;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
   
}

.btn-sm{
    padding: 2px 5px;
    vertical-align: middle;
}

.sec{
    display:flex  ;   
     margin: auto;
    height: 400px;
    align-items: center;
    justify-content: center;
    max-width: 80%;
}

.sec-1{
    height: 250px;
    flex-direction: row-reverse;

}

.thumbnail img{
    width:250px;
    border:2px solid white;
    border-radius: 150% ;
}

.contact{
    background-color: #f0f2ef;
    height: 550px;
    
}


.text-center{
   text-align: center;
   padding-top: 20px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
   font-size: 35px; 
}

.form{
    margin:42px auto ;
    max-width: 1200px;
}

.form-input{
    margin: 14px 0;   
    padding: 5px 3px;
    width: 100%;
    font-size: 19px;
    border:2px solid grey;
    border-radius:6px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
   
}

.text-footer{
    font-size: 16px;
    text-align: center;
    justify-content: center;
    color:white;
    padding: 30px 0;
    font-size: 20px;
}
 
.burger{
   display: none; 
    position: absolute;
   cursor: pointer;
   right: 5%;
   top: 15px;
   
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin:5px 5px;
}

@media only screen and (max-width:890px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .right-nav{
        text-align: center;
    }
    #Search{
        width: 100%;
    }
    .burger{
        display: block;
       
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
}
